$side-width: 200px;
$base-margin: 30px;
$header-height: 60px;
/*** input ***/
$input-width-base: 260px;
$input-height-base: 44px;
$select-height-base: 44px;
$select-padding-left: 8px;
$label-base: 8px;
$label-font: 16px;

$radio-width-base: 18px;
$datepicker-width-base: 260px;

$page-item-size: 32px;

